.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/
doc/

*.iml
.gradle
.idea
example/.idea
example/android/testfairy-android-sdk-release
example/.flutter-plugins-dependencies 
example-dart1/.idea
example-dart1/android/testfairy-android-sdk-release
example-dart1/.flutter-plugins-dependencies